.tabsBlock {
    display: flex;
    margin-top: 25px;
}

.actionBtn {
    position: absolute;
    right: 25px;
    top: 40px;
    display: flex;
}

.createListing {
    margin-right: 10px;
}

.flexForm {
    display: flex;
    justify-content: space-between;
    padding: 3rem 2rem;
}
