table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    text-align: left;
    padding: 8px;
  }
  
   tr td:nth-child(1) {
    width: 20%;
  }
  
  table tr td:nth-child(2) {
    width: 30%;
  }
  
  table tr td:nth-child(3) {
    width: 25%;
  }
  
  table tr td:nth-child(4) {
    width: 25%;
  }
  
  th {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid #cccccc;
  }
  
  tr:nth-child(even) {
    background-color: #f7f7f7;
  }